@charset "utf-8";
@import "normalize";

.banner {
  background: #FF81FB;
  background: -webkit-linear-gradient(to left, #FF72F2, #5F61FF);
  background: linear-gradient(to left, #FF72F2, #5F61FF);
  height: 650px;

  .content {
    color: #fff;
    position: relative;
    top: 40%;
    font-family: 'Quicksand', sans-serif;
    font-size: 80px;
    text-align: center;
  }
}

.mobile-banner {
 margin-bottom: 30px;

  .content {
    color: #FF72F2;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    text-align: center;
  }
}

.gif-container {
  height: 650px;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}

.gif {
  position: absolute;
  width: 100%;
  object-fit: fill;
  top: -200px;
}

.grid { 
  padding-left: 100px;
}

.grid-sizer { width: 40%; }
.gutter-sizer { width: 5%; }

.grid-item-full { 
  width: 85%; 
  margin-bottom: 50px;

  img {
    max-width: 100%;
    height: auto;
  }
}

.grid-item-2 { 
  width: 40%;
  margin-bottom: 50px;

  img {
    max-width: 100%;
    height: auto;
  }
}

.page-link {
  width: 99%;
  background: #5F61FF;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-size: 80px;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  position: absolute;
  padding: 10px;
  margin-bottom: 30px;
}

.page-link:hover {
  background: #2F307F;
}

@media only screen 
  and (max-width: 700px) {
    .gif-container { display: none; }
    .banner { display: none; }
    .grid-sizer { width: 99%; }
    .grid-item-full { display: none; }
}

@media only screen 
  and (min-width: 700px) {
    .mobile-banner { display: none; }
}
