<div class="grid">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>

  <% (51..70).to_a.each do |num| %>
    <% if num % 5 == 0 %>
      <div class="grid-item-full">
        <%= image_tag "wedding-#{num}.jpg" %>
      </div>
    <% else %>
      <div class="grid-item-2">
        <%= image_tag "wedding-#{num}.jpg" %>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to 'Page 2', 'page2.html', class: 'page-link' %>
